<div id="dice-view" ng-controller="DiceController as vm">
    <h2 class="title"><b>DiceBin</b><br/><small>Made specially for Lune(SevenSigma)</small></h2>
    <span class="credits">Made by BoredMai - nannesribeiro [at] gmail [dot] com</span>
    <h3>Quick Roll</h3>
    <div class="quick-roll-container">
        <button class="btn btn-default" ng-click="vm.quickRoll('1d4')">d4</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d6')">d6</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d8')">d8</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d10')">d10</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d12')">d12</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d20')">d20</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d100')">d100</button>
    </div>
    <h3>Custom Roll</h3>
    <div class="acc-formats">
        <small>Accepted Format: [qty]d[size]k[keep][+mod|-mod]<br/>
        You can omit either d[size] (default size is 10) or k[keep] (keeps all dices)</small>
    </div>
    <input class="form-control text-center" type="text" ng-keydown="vm.onKeyDown($event)" ng-keyup="vm.onKeyUp()" ng-model="vm.formula">
    <p class="error" ng-show="vm.errorMessage">{{vm.errorMessage}}</p>
    <label class="exploding-check" ng-show="vm.isKeep"><input type="checkbox" ng-model="vm.explode"> Exploding Dice</label><br/>
    <button class="btn btn-default" ng-click="vm.customRoll()">Roll</button>
    <div id="result" ng-show="vm.result">
        <h3>Result</h3>
        <h4 ng-bind-html="vm.result"></h4>
    </div>

    <br/><br/>
    <div class="row">
        <span class="source">
            Source code can be found on <a href="https://github.com/BoredMai/DiceBin">GitHub</a>.&nbsp;&nbsp;<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        </span>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate-btn">
            &nbsp;&nbsp;<input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="A5E7GQ6BV6V4L">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1" style="padding-top: 4px">
        </form>
    </div>
</div>

