<div id="dice-view" ng-controller="DiceController as vm">
    <h2><b>DiceBin - Made specially for Lune</b></h2>
    <h3>Quick Roll</h3>
    <div class="quick-roll-container">
        <button class="btn btn-default" ng-click="vm.quickRoll('1d4')">d4</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d6')">d6</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d8')">d8</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d10')">d10</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d12')">d12</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d20')">d20</button>
        <button class="btn btn-default" ng-click="vm.quickRoll('1d100')">d100</button>
    </div>
    <h3>Custom Roll</h3>
    <div class="acc-formats">
        Accepted Formats:
        <ul>
            <li><i class="fa fa-caret-right"></i> [qty]d[size][+mod|-mod] (Ex: 5d6+8)</li>
            <li><i class="fa fa-caret-right"></i> [qty]k[keep] (Ex: 7k5, keep < qty)</li>
        </ul>
    </div>
    <input class="form-control text-center" type="text" ng-keydown="vm.onKeyDown($event)" ng-keyup="vm.onKeyUp()" ng-model="vm.formula">
    <label class="exploding-check" ng-show="vm.isKeep"><input type="checkbox"> Exploding Dice</label><br/>
    <button class="btn btn-default" ng-click="vm.customRoll()">Roll</button>
    <h3>Result</h3>
    <h2>{{vm.result}}</h2>
</div>
